/* Definições de fontes */
@charset "UTF-8";

@font-face {
  font-family: Rauph-Lauren;
  src: url("../../assets/fontes/Ralph-Lauren-Font.zip");
}

/* Reset de margens, padding e box-sizing */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

/* Variáveis de cores */
:root {
  --cor-1: #ffffff; /* Mais clara */
  --cor-2: #87abd5;
  --cor-3: #4f7aaa;
  --cor-4: #265080;
  --cor-5: #0b2e55;
  --cor-6: #001a38; /* Mais escura */
  --cor-fundo: #f4f4f4;
  --cor-texto: #333;
  --cor-link-hover: #f4f4f4;
}

/* Estilos gerais do body */
body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-size: 16px;
}

/* Estilos para os títulos e navegação */
body h1,
h2,
nav {
  font-family: Rauph-lauren;
}

h2 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Cabeçalho */
header {
  background-image: linear-gradient(to top, var(--cor-6), black);
  color: white;
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
  box-shadow: 0 0 15px black;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  margin-top: 1rem;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--cor-2);
  text-decoration: none;
  border-radius: 30px;
  padding: 5px;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

/* Efeitos de hover para links no menu */
header nav ul li a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--cor-3);
  box-shadow: 0 0 10px var(--cor-2);
  color: var(--cor-5);
  padding: 10px;
}

/* Menu e Navegação (Hambúrguer) */
.hamburger-menu {
  display: none; /* Inicialmente escondido */
  font-size: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Estilo do menu (ul) para dispositivos móveis */
.menu {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

.menu li {
  margin: 0 1rem;
}

.menu li a {
  text-decoration: none;
  color: var(--cor-2);
}

@media (max-width: 768px) {
  /* Esconder o menu (ul) em telas pequenas */
  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  /* Mostrar o botão hambúrguer */
  .hamburger-menu {
    display: block;
  }

  /* Mostrar o menu quando o botão for clicado */
  .menu.active {
    display: flex;
  }
}

/* Seções */
section {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.459);
}

/* Seção Bem-vindo */
#bem-vindo {
  background-image: linear-gradient(to top, var(--cor-6), var(--cor-4));
  color: white;
  padding: 2rem;
}

#bem-vindo h1 {
  text-align: center;
  padding: 1rem;
  margin: 0 auto 2rem;
}

#bem-vindo h2 {
  margin-bottom: 10px;
}

.texto-sobre-mim {
  text-indent: 20px;
  text-align: justify;
}

/* Seção Content */
.content {
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.fih-img {
  text-align: center;
  order: 2;
}

.fih-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 30%;
  margin: 0 auto;
  border: 3px solid var(--cor-5);
  border-radius: 50%;
  box-shadow: 0 0px 10px var(--cor-2);
  transition: transform 0.8s ease, margin 0.8s ease;
  cursor: pointer;
}

.fih-img img:hover {
  transform: scale(1.1);
  margin: 1rem auto;
}

.fih-img p {
  width: 300px;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #bbb;
}

.fih {
  flex: 1;
  text-align: left;
}

.fih h2 {
  text-align: center;
}

.fih p {
  font-size: 1.2em;
  text-align: center;
}

/* Seção Projetos */
#projetos {
  background-color: #b9b9b9;
}

.meus-projetos {
  background-color: #01336b;
  color: white;
  padding: 10px;
  text-align: center;
}

.meus-projetos h2 {
  margin-bottom: 10px;
}

#cards {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.slide-contener {
  max-width: 1120px;
  width: 100%;
  padding: 20px;
}

.slide-content {
  margin: 0 40px;
}

.card {
  border-radius: 25px;
  background-image: linear-gradient(to top, #131313, var(--cor-6) 50%);
  color: var(--cor-1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-content,
.card-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--cor-5);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--cor-5);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--cor-6);
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #000000;
  padding: 3px;
  border: 4px solid var(--cor-4);
  box-shadow: 0 0 10px #3091ff70;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 25px;
  font-weight: 500;
  color: var(--cor-2);
}

.description {
  font-size: 14px;
  color: #bbbbbb;
  text-align: center;
  margin-bottom: 10px;
}
.periodo {
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
}
button {
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--cor-4);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--cor-3);
}

/* Seção Contato */
#contato {
  padding: 2rem;
  background-image: linear-gradient(to top, black, var(--cor-6));
  color: white;
  text-align: center;
}
#contato ul li a {
  transition: color 0.5s ease, text-decoration 0.5s ease;
}
#contato ul li a:hover {
  color: var(--cor-2);
  text-decoration: underline;
}
#contato h2 {
  width: max-content;
  font-weight: bolder;
  text-decoration: underline;
  margin: 0 auto;
  text-underline-offset: 4px;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 10%,
    transparent
  );
  background-repeat: no-repeat;
  background-size: 100% 2px;
  text-decoration: none;
  font-weight: bolder;
}
/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .menu {
    gap: 30px;
    font-size: 20px;
  }
  .content {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .fih-img {
    order: 1;
    text-align: center;
  }

  .fih {
    text-align: center;
  }
  header nav {
    flex-direction: column;
  }
  header nav ul {
    align-items: center;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }

  .fih p {
    text-align: center;
  }

  /* Ajustes para os cards */
  #cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-bottom: 20px;
  }
}

/* Media Queries para telas maiores que celulares */
@media (min-width: 769px) {
  header nav ul li a {
    transition: color 0.8s ease, background-color 0.8s ease, padding 0.3s ease;
  }
  .card {
    transition: transform 1s ease, margin 1s ease;
  }
  .card:hover {
    transform: scale(1.03);
    margin: 5% 0;
  }
}
